:root {
  --btn_color: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

::placeholder {
  font-family: 'Red Rose', cursive;
}
